@media screen and (max-width: 767px){
    .header
    {
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 16px;
    }

    .content
    {
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 12px;
        text-align: center;
        font-style: italic
    }

    .bannContainer
    {   
        background: rgba(0, 0, 0, 0.9);
        padding: 30px 0 30px 0;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px)
{
    .header
    {
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 22px;
    }

    .content
    {
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-style: italic
    }

    .bannContainer
    {   
        background: rgba(0, 0, 0, 0.9);
        padding: 30px 10px 30px 10px;
    }
}

@media screen and (min-width: 1024px)
{
    .header
    {
        color: #fff;
        display: flex;
        justify-content: center;
        
    }

    .content
    {
        color: #fff;
        display: flex;
        justify-content: center;
        font-style: italic
    }

    .bannContainer
    {   
        background: rgba(0, 0, 0, 0.9);
        padding: 20px 0 24px 0;
    }
}
